body {
  margin-left: auto;
  margin-right: auto;

  color: $title-color;
  background-color: $backrgound-color;
  

  font-family: $main-font;
  letter-spacing: $main-let-spac;

  @extend %ul;
  @extend %images;

  @media screen and (max-width: 767px) {
    padding-top: 59px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 79px;
  }
}