.features {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features__title-hidden {
  @extend %hidden;
}

.features__list {
  @extend %ul;
  margin: 0;
  padding: 0;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -15px;
  }
}

.features__box {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
    &:last-child {
      margin: 0;
    }
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    margin: 15px;
    width: 354px;
    height: 251px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
  .features__container {
    @extend %display-flex-centre;
    height: 120px;
    background-color: $team-background-color;
    border-radius: 4px;
    margin-bottom: 30px;
  }

  .features__icon {
    display: block;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
  }
}

.features__title {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;

  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.features__subtitle {
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: $subtitle-color;
}
