.hero {
  padding-top: 118px;
  padding-bottom: 118px;

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  text-align: center;

  background-image: linear-gradient(
      $hero-linear-gradient,
      $hero-linear-gradient
    ),
    url('../images/adaptive-img/Header img-hero-480.jpg');

  background-color: $backrgound-image-color;
  background-size: 480px 400px;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        $hero-linear-gradient,
        $hero-linear-gradient
      ),
      url('../images/adaptive-img/Header img-hero-480@2x.jpg');
  }
}
@media screen and (min-device-pixel-ratio: 3),
  screen and (min-resolution: 3dppx),
  screen and (min-resolution: 288dpi) {
  .hero {
    background-image: linear-gradient(
        $hero-linear-gradient,
        $hero-linear-gradient
      ),
      url('../images/adaptive-img/Header img-hero-480@3x.jpg');
  }
}
@media screen and (min-width: 481px) {
  .hero {
    background-image: linear-gradient(
        $hero-linear-gradient,
        $hero-linear-gradient
      ),
      url('../images/adaptive-img/Header img-hero-768.jpg');
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          $hero-linear-gradient,
          $hero-linear-gradient
        ),
        url('../images/adaptive-img/Header img-hero-768@2x.jpg');
    }
  }
  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 3dppx),
    screen and (min-resolution: 288dpi) {
    .hero {
      background-image: linear-gradient(
          $hero-linear-gradient,
          $hero-linear-gradient
        ),
        url('../images/adaptive-img/Header img-hero-768@3x.jpg');
    }
  }
}

@media screen and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(
        $hero-linear-gradient,
        $hero-linear-gradient
      ),
      url('../images/adaptive-img/img-hero-1600.jpg');
    
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          $hero-linear-gradient,
          $hero-linear-gradient
        ),
        url('../images/adaptive-img/img-hero-1600@2x.jpg');
    }
  }
  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 3dppx),
    screen and (min-resolution: 288dpi) {
    .hero {
      background-image: linear-gradient(
          $hero-linear-gradient,
          $hero-linear-gradient
        ),
        url('../images/adaptive-img/img-hero-1600@3x.jpg');
    }
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 0;

  color: $title-button-white-color;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  margin-top: 30px;
  border-radius: 4px;
  padding: 10px 32px;
  display: inline-block;
  min-width: 200px;

  color: $title-button-white-color;
  background-color: $accent-color;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  border: none;
  cursor: pointer;
}
