.logo {
  display: block;
  @extend %text-decor-none;

  padding-top: 16px;
  padding-bottom: 16px;

  font-family: $logo-font;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
 @media screen and (min-width: 1200px) {
   font-size: 26px;
  line-height: 1.19;
  }

  .logo__first-label {
    color: $accent-color;
  }
  .logo__second-label {
    color: $logo-black-color;
  }

  &.logo--inverce {
    @extend %margin-padding-none;

  }
  .logo__second-label--inverce {
    color: $logo-white-color;
  }
}